<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Adv_Closest_leaf_to_a_given_node.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>BST_insert_delete_search.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>BinarySearchTree.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Iterative_Inorder_traversal.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>Iterative_Postorder_traversal.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>Iterative_preorder_traversal.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>Trees.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>check_edgeRemoval_divides_into_2Equal_BT.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>check_mirror_trees.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>common_nodes_in_2BST.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>construct_BT_from_Post_Inorder.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>construct_BT_from_Pre_Indorder.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>delete_single_nodes.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>lowest_common_ancesstor_BT.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>max_diff_between_nodes_ancesstors.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>mirror_image_BST.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>print-diagonal_traversal.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>print_btree_in_2-D.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>print_root_2_Leaf_paths.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>timepass.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>vertical_sum.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6D0C6E051D0BDA8F00D5322F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6D0C6E101D0BEC9700D5322F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6D0C6E1B1D0BF89500D5322F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6D0C6E261D0BFB1400D5322F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6D1110D21D12A385005C4117</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6D11111C1D1925FD005C4117</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6D12845F1D04C2F20051F536</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6D12846A1D04CAF30051F536</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6D1284751D04F2FF0051F536</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6D1284801D0514F60051F536</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6D50410B1CFFFE500096DF92</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6D5041191CFFFE960096DF92</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6D5041271D00203D0096DF92</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6D5041321D00E4F90096DF92</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6D5041501D015C210096DF92</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6D50415B1D036E100096DF92</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6D5041661D03742A0096DF92</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6D5041711D037BA80096DF92</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6D50417C1D0386D20096DF92</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6D5041871D0397DA0096DF92</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6D5041931D03CB3F0096DF92</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
