<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Dynamic_Programming.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>Knapsack_With_Repetition.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Knapsack_Without_Repetition.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Knapsack_Without_repetition.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Knapsack_without_repetition.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Minimum_number_of_operations.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6DA2B1CD1D2373A70092B49C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6DA2B1DB1D2373D20092B49C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6DA2B1E81D23A0EE0092B49C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6DA2B1F31D23ACAE0092B49C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6DA2B2011D23AFEE0092B49C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6DA2B20C1D23B0950092B49C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6DA2B2181D23B7900092B49C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
